

<h2>DETALLES DE LA COLECCIÓN</h2>
<br>
    <p>

      
      Una detallada obra editorial con la que podrás revivir la segunda mitad del siglo XX a través de sus automóviles. Conoce la historia de nuestros autos más populares, todas sus aventuras en nuestras carreteras: historia, características técnicas, variantes, resultados en diferentes competiciones..</p>


      <br>

      <p>En febrero de 2021 en México hemos visto finalizar la colección Grandes autos memorables y ha dejado un vacío en kioscos, para subsanar esto, Salvat ha decidió poner en marcha una colección en 1:24 llamada Autos inolvidables.

        Hace unos días ha salido a la luz una nueva página en facebook llamada Autos Inolvidables - Salvat México anunciando ya la colección, sin fecha prevista de lanzamiento.
        
        Si las miniaturas de la colección Grandes autos memorables nos llamaron mucho la atención, ahora las veremos más grandes y con diferentes colores, en la foto de la portada de esta nota ya podemos apreciar 3 autos: el Renault Dinalpin Berlinette A-110 , el Ford Maverick y el VAM Jeep CJ-7 Renegado , 3 modelos que ya hemos visto en los memorables.
        
        Por otro lado, hubiera preferido que esta nueva colección mexicana en 1:24 se llame Autos Memorables, y no Autos inolvidables ya que crea un poco de confusión con la colección argentina.
        
   
        La temática de Autos inolvidables 1:24 para México serán los coches de calle, y traerán autos que han rodado en México, la editorial usará como base de selección de modelos de la colección Grandes autos memorables, y estas miniaturas no abrirán puertas, además se ha anunciado que el total de entregas serán 60. </p>
   <br>


<div class="pagina1">
    <h3>vehiculos Colecion </h3>
    <div class="contenedor">
        <div class="card">
            <img src="img/1.png" alt="">
            <p>VOLKSWAGEN SEDÁN</p>
        </div>
        <div class="card">
            <img src="img/2.png" alt="">
            <p>FORD MUSTANG CONVERTIBLE</p>
        </div>
        <div class="card">
            <img src="img/4.png" alt="">
            <p>FORD F-100 PICK-U</p>
        </div>
        <div class="card">
            <img src="img/3.png" alt="">
            <p>FORD MAVERICK</p>
        </div>  
    </div>
</div>
    <footer><strong>Copyright © Todos los derechos reservados 2022 diseñado por": Axel  Tautiu cosigua </strong></footer>
