<div class="modelo">
    <h3>modelo especifico</h3>
     <div class="card">
            <img src="img/0.jpg" alt="">
            <p>Especificaciones</p>
            Mientras que muchos dueños de un auto clásico optan por restaurarlo para dejarlo en su estado original, existen quienes dejan intacta la apariencia, pero realizan una serie de modificaciones en los componentes mecánicos y de confort para combinar lo mejor de dos mundos.
                 <br> Un ejemplo de fusionar lo vintage con lo moderno es esta pickup Chevrolet 3100 1955, que, si bien mantiene de manera idéntica su imagen después de restaurar y pintar la carrocería, debajo del cofre equipa un poderoso y moderno motor de ocho cilindros.
                 <br> Antes de entrar en detalles con las cifras que ofrece el nuevo V8, hay que mencionar que además del perfecto trabajo de hojalatería y pintura, sus creadores hicieron un trabajo más profundo al imponer un nuevo chasis, que entre muchas de las ventajas está una mayor estabilidad del vehículo.</p>
        </div>
</div>


<img src="img/17.png" alt="">

    <footer><strong>Copyright © Todos los derechos reservados 2022 diseñado por": Axel  Tautiu cosigua </strong></footer>
